<div class="frame">

<div class="rida">
   <div class="group">
     <div class="joonisval">
       <div class="joonis">
           
         <!--div class="overlap-group"-->
           
         <!--/div-->
         <koondind7-component></koondind7-component>
         
         
       </div>
       
     

</div>
     
   </div>
   <div class="tekstjanupp">
     <p class="ettev-te-on-k-rge">
       <span class="span">Ettevõte on </span>
       <span class="text-wrapper-5">{{annaHinnang()}}. </span>
       <span class="span">Erinevad ettevõtte näitajad toetavad ettevõtte elujõulisust tavaliselt erineval määral. </span>
       <span class="span">{{panusEellugu()}}</span>
       <span class="text-wrapper-5">{{panusTuleb()}}</span>
       <span class="span"
         >{{lisaTargutus()}}</span
       >
     </p><br>
     <div class="nupp">
      <button>
      Vaata täpsemat põhjendust
      </button>
      </div>  <!--Teksti kohta on stiiliinfot 224-->
   </div>
 </div>    

</div>

{{maakonnaKontroll()}}